<p-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="mt-2 mb-2" >Sign up</h1>
    <p class="mt-0 mb-4" >Your journey starts here - enter your credentials and let's explore together!</p>
    <span class="p-input-icon-right w-full">
        <input formControlName="name" class="w-full p-inputtext-sm" pInputText placeholder="Username"/>
        <i class="pi pi-user"></i>
      </span>
    <span class="p-input-icon-right mt-2 w-full">
        <input formControlName="email" aria-describedby="email-error" class="w-full p-inputtext-sm" pInputText placeholder="Email"/>
        <i class="pi pi-at"></i>
      </span>
    @if(form.controls.email.invalid && form.controls.email.touched) {
      <small class="text-red-600" id="email-error">Email is invalid</small>
    }
    <span class="p-input-icon-left mt-2 w-full">
        <i class="pi pi-lock"></i>
        <p-password formControlName="password" aria-describedby="password-length-error" class="p-inputtext-sm" placeholder="Password" [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}"
                    [feedback]="false"
                    [toggleMask]="true" id="password"></p-password>
      </span>
    @if(form.controls.password.invalid && form.controls.password.touched) {
      <small class="text-red-600" id="password-length-error">Password should be at least 8 characters</small>
    }
    <span class="p-input-icon-left mt-2 w-full">
        <i class="pi pi-lock"></i>
        <p-password formControlName="repeatPassword" aria-describedby="password-similarity-error" class="p-inputtext-sm" placeholder="Repeat Password" [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}"
                    [toggleMask]="true" [feedback]="false" id="repeat-password"></p-password>
      </span>
    @if(form.value.password !== form.value.repeatPassword && form.controls.repeatPassword.touched) {
      <small class="text-red-600" id="password-similarity-error">Passwords must be equal</small>
    }
    <p-button [disabled]="form.invalid || form.value.password !== form.value.repeatPassword" type="submit" size="small" severity="success" styleClass="w-full mt-4" label="Submit"></p-button>
    <small routerLink="../sign-in" class="block cursor-pointer underline mt-2 mb-0 text-center text-sm" >I already have an account</small>
  </form>
</p-card>

